{% extends "base.html" %}
{% block content %}
<h1>About</h1>
<div class="row">
    <div class="col-lg-12">
    <p>My name is Bernardo and this is My Texter. An application to allow users to set up text nofications for daily reminders.
    <br>
    <br>
    This started a simple Python script, which ran locally on my machine to assist my beautiful wife with reminders to drink water.
    I'm now releasing this a web application as part of my capstone project in the <a href="https://www.thinkful.com/courses/learn-python-online/">
    Thinkful Python</a> class.</p>
    </div>
</div>
<h1>Contact</h1>
<div class="row">
    <div class="col-lg-6">
    <p>Please send questions, comments, or other feedback 
    <a href="mailto: bernardoroschke@gmail.com?Subject=My%20Texter" target="_top">here.</a>
    </p>
    <p>
        Donations via <a href="https://www.paypal.me/BernardoRoschke">Paypal</a> are accepted.
    </p>
    </div>
</div>
{% endblock %}