{% extends "base.html" %}
{% block content %}
<h1>Contacts</h1>
<p>Update your contact number(s) here:</p>
<div class="row">
    <div class="col-lg-3">
        <form role="form" method="POST">
            <div class="form-group">
                <label for="number1">Mobile Number 1</label>
                <input type="text" class="form-control" id="number1" name="number1" placeholder="ex. 1234567890" required>
            </div>
            <div class="form-group">
                <label for="number2">Mobile Number 2 (Optional)</label>
                <input type="text" class="form-control" id="number2" name="number2" placeholder="ex. 1234567890">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>
{% endblock %}