{% extends "base.html" %}
{% block content %}




<h1>Dashboard</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Notification</th>
                <th>Created At</th>
                <th>Frequency</th>
            </tr>
        </thead>
        <tbody>
            {% for notification in notifications %}
            <tr>
                <td>
                    {{notification.subject}}
                </td>
                <td>
                    {{notification.timezone}}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="5">
                    <a href="/notification/new" class="btn btn-success">
                        Add new notification
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}