{% extends "base.html" %}
{% block content %}
<h1>Dashboard</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Timezone</th>
                <th>Frequency</th>
                <th>Days</th>
                <th>Status</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for notification in notifications %}
            <tr>
                <td>
                    {{notification.subject}}
                </td>
                <td>
                    {{notification.timezone}}
                </td>
                <td>
                    {{notification.frequency}}
                </td>
                <td>
                    {{notification.days}}
                </td>
                <td>
                    {{notification.status}}
                </td>
                <td>
                    <a href="/notification/{{notification.id}}/edit">Edit</a>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="5">
                    <a href="/notification/new" class="btn btn-success">
                        Add new notification
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}