{% extends "base.html" %}
{% block content %}
<h1>Dashboard</h1>
<h3 align="center">Notifications</h3>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Timezone</th>
                <th>Frequency</th>
                <th>Days</th>
                <th>Status</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for notification in notifications %}
            <tr>
                <td>
                    {{notification.subject}}
                </td>
                <td>
                    {{notification.timezone}}
                </td>
                <td>
                    {{notification.frequency}}
                </td>
                <td>
                    {{notification.days}}
                </td>
                <td>
                    {{notification.status}}
                </td>
                <td>
                    <a href="/notification/{{notification.id}}/edit">Edit</a>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="6">
                    <a href="/notification/new" class="btn btn-success">
                        Add new notification
                    </a>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>
<h3 align="center">Contact Information</h3>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Number 1</th>
                <th>Number 2</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
            <tr>
                <td>
                    {{contact.number1}}
                </td>
                <td>
                    {{contact.number2}}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2">
                    <a href="/logout" class="btn btn-warning">
                        Logout
                    </a>
                </td>
            </tr>    
        </tbody>
    </table>
</div>
<div>

</div>               
{% endblock %}